MONGO_URI=
DB_NAME=
REDIS_URI=
PORT=
HOST=

GEMINI_API_KEY=
AEKO_FAST_MODEL=
AEKO_SLOW_MODEL=
AEKO_MAX_TOKENS=
AEKO_REPORT_MAX_TOKENS=

TAVILY_API_KEY=
AETHER_WEB_SITE_URL=

AEKO_MCP_WARM_UP=true

CHROMA_TENANT=
CHROMA_DATABASE=aeko-gases-vector-store
CHROMA_API_KEY=

CLIMATIQ_API_KEY=


APP_NAME=
TIMESTAMP_FORMAT=
BLUE=
RED=
RESET=
TRUE_VALUES=
FALSE_VALUES=
CRASHED_STATUS=
UNKNOWN_ENDPOINT=
REQUEST_ID_HEADER=
UVICORN_ACCESS_LOGGER=
INDENT=
FAILING_STATUS=
CALCULATOR_MAX_EXPRESSION_LENGTH=
CALCULATOR_MAX_EXPONENT=
CALCULATOR_DECIMAL_PLACES=
CALCULATOR_MAX_EXACT_INTEGER=
CALCULATOR_DESCRIPTION=
ROI_HORIZON_MONTHS=
ROI_PAYBACK_NOT_RECOVERED=
ROI_DECIMAL_PLACES=
ROI_MAX_WACC_MONTHLY=
ROI_REQUEST_DESCRIPTION=
ROI_DESCRIPTION=
PAYBACK_DESCRIPTION=
DEFAULT_CALL_TIMEOUT=
DEFAULT_CLOSE_TIMEOUT=
QUERY_GASES_INFO_TOOL_NAME=
CHROMA_MCP_SERVER_SCRIPT=
PASSTHROUGH_ENV_VARS=
QUIET_CHILD_ENV=
QUERY_GASES_INFO_DESCRIPTION=
GASES_INFO_COLLECTION=
EMBEDDING_MODEL=
DEFAULT_RESULT_COUNT=
QUERY_INCLUDE=
MONGO_FIND_TOOL_NAME=
MONGO_CONNECTION_ID=
MONGO_MCP_SERVER_PACKAGE=
IMPROVEMENT_PLAN_COLLECTION=
USER_MEMORY_COLLECTION=
FIND_IMPROVEMENT_PLAN_DESCRIPTION=
FIND_USER_MEMORY_DESCRIPTION=
TAVILY_SEARCH_TOOL_NAME=
TAVILY_RESEARCH_TOOL_NAME=
TAVILY_MAP_TOOL_NAME=
TAVILY_MCP_SERVER_PACKAGE=
TAVILY_SEARCH_DESCRIPTION=
TAVILY_RESEARCH_DESCRIPTION=
TAVILY_MAP_DESCRIPTION=
SESSION_INACTIVITY_MINUTES=
CONVERSATION_MEMORY_FIELD=
REDIS_SCAN_COUNT=
